
<div class="container">
  <% stations.each do |station| %>
      <div class="col-lg-4 col-md-6 ">
        <div class="panel panel-default">
          <div class="panel-heading">
             <h3 class="panel-title"><%= station.name %></h3>
          </div>
          <div class="panel-body">
             Brand : <%= station.brand %> <br>
             <table>
             <% essences = GasStationType.where("gas_station_id = ?", station.id) %>
               <tbody>
                 <% essences.each do |essence| %>
                   <% essence_type = GasType.find(essence.gas_type_id) %>
                   <tr>
                     <td><%= essence_type.name %> : </td>
                     <td><%= essence.price %> CHF</td>
                   </tr>
                 <% end %>
               </tbody>
             </table>
             <%= link_to 'Show', station, class: "linkShow" %>
          </div>
        </div>
      </div>
  <% end %>
</div>
